@page
@model ErrorModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<Chat.Web.Resources.SharedResources> Localizer
@{
    ViewData["Title"] = Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["ErrorOccurred"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentMode"]</h3>
<p>@Localizer["DevelopmentModeWarning"]</p>
